<ul>
    <li>
        <div class="header">
            <span *ngFor="let column of columns" [ngStyle]="column.inlineStyles" [ngClass]="column.className">{{column.columnName}}</span>
        </div>
    </li>
    <li *ngFor="let row of data.list; let i = index" (click)="toggleRowExpand(row._id)">
        <div class="body-row">
            <span *ngFor="let column of columns; let y = index"
                [ngSwitch]="y"
                [ngStyle]="column.inlineStyles"
                [ngClass]="column.className">
                <span *ngSwitchCase="0">{{i + 1}}</span>
                <span *ngSwitchCase="columns.length - 1">
                    <input type="button" (click)="delete(row._id, $event)" value="Delete" class="button delete-button" />
                </span>
                <span *ngSwitchDefault>{{(row[column.linkerProperty]) | richTableGenericPipe : column.pipes}}</span>
            </span>
        </div>
        <div class="body-form" *ngIf="rowExpanded">
            <ng-container *ngTemplateOutlet="editForm"></ng-container>
        </div>
    </li>
</ul>
<nav *ngIf="data.totalCount > data.list.length && options.paginationEnabled" id="pagination">
    <span class="left-nav">
        <a (click)="back(0)" class="nav-link" [class.disabled]="true">
            <span class="fa fa-angle-double-left" title="To start"></span>
        </a>
        <a (click)="back()" class="nav-link" [class.disabled]="true">
            <span class="fa fa-angle-left" title="Previous page"></span>
        </a>
    </span>
    <span class="nav-data">1-5 of {{data.totalCount}}</span>
    <span class="right-nav">
        <a (click)="forward(1)" class="nav-link" [class.disabled]="false">
            <span class="fa fa-angle-right" title="Next page"></span>
        </a>
        <a (click)="forward()" class="nav-link" [class.disabled]="false">
            <span class="fa fa-angle-double-right" title="To end"></span>
        </a>
    </span>
</nav>
