@import 'sharedSettings';

ul {
    list-style: none;
    padding: 0;
}

li {
    line-height: 2.5;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: column;
    border-bottom: 1px solid $color-grey-border;

    div {
        padding: 0 10px;
        display: flex;
        width: calc(100% - 20px);

        > span {
            display: inline-block;
            width: 125px;

            &:last-child {
                text-align: right;
            }
        }

        &.header {
            font-weight: bold;
        }

        &.body-row:hover {
            cursor: pointer;
            background-color: $color-blue-light;
        }
    }
}

#pagination {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;

    .nav-link {
        font-size: 20px;
        color: $color-blue-main;
        margin: 0 5px;
        font-weight: bold;

        &:hover {
            color: $color-blue-dark;
            cursor: pointer;
        }

        &.disabled {
            opacity: 0.6;

            &:hover {
                color: $color-blue-main !important;
                cursor: arrow !important;
            }
        }
    }

    .nav-data {
        line-height: 1.5;
        margin: 0 10px;
    }
}
