$palevioletred: palevioletred;

h2 {
    color: $palevioletred;
    background-image: url("http://lorempixel.com/20/20/");
    background-repeat: no-repeat;
}

h3 {
    background-image: url("http://lorempixel.com/400/400/");
    background-repeat: no-repeat;
}
