$color-pure-white: #fff;
$color-white: #f4f4f4;
$color-blue-light: #d2f2ff;
$color-blue-main: #00aeef;
$color-blue-dark: #0086bf;
$color-red: #ed605a;
$color-red-bg: #f7c9c8;
$color-grey-border: #c8c8c8;

$font-size-biggest: 30px;
$font-size-bigger: 24px;
$font-size-big: 18px;
$font-size-normal: 14px;
$font-size-small: 10px;

.main-bg {
    background-color: $color-blue-main;
}