$color-pure-white: #fff;
$color-white: #f4f4f4;
$color-blue-light: #d2f2ff;
$color-blue-main: #00aeef;
$color-blue-dark: #0086bf;
$color-red: #ed605a;
$color-red-bg: #f7c9c8;
$color-grey-border: #c8c8c8;

$font-size-biggest: 30px;
$font-size-bigger: 24px;
$font-size-big: 18px;
$font-size-normal: 14px;
$font-size-small: 10px;

.main-bg {
    background-color: $color-blue-main;
}

.button {
    padding: 3px 7px;
    height: 30px;
    border-radius: 8px;
    border-color: transparent;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0,0.4);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0,0.4);
    box-shadow: 1px 2px 3px rgba(0, 0, 0,0.4);

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

.add-button {
    background-color: $color-blue-dark;
    color: $color-blue-light;
}

.delete-button {
    background-color: $color-red;
    color: $color-red-bg;
}