<header class="main-bg">
    <img src="assets/images/logo.png" alt="Employee Expertise">
</header>
<nav class="main-bg">
    <ul class="navbar">
        <li routerLinkActive="active">
            <a routerLink="/">Item 1</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/">Item 2</a>
        </li>
    </ul>
    <ul class="navbar navbar-right">
        <li>
            <a routerLink="/login">Login</a>
            <a routerLink="/logout">Logout</a>
        </li>
    </ul>
</nav>
