@import 'sharedSettings';

:host {
    display: flex;
    height: 55px;

    header {
        padding: 5px 15px;
        border-right: 2px solid $color-grey-border;

        img {
            border-radius: 3px;
        }
    }

    nav {
        display: flex;
        line-height: 55px;
        vertical-align: middle;
        width: 100%;
        justify-content: space-between;

        p {
            color: $color-blue-light;
            font-size: $font-size-big;
            line-height: 1;
            vertical-align: middle;
            padding-left: 20px;
        }

        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                padding: 0 5px;
                border-right: 2px solid $color-grey-border;

                &.active {
                    background-color: $color-blue-dark;
                }

                &:last-of-type {
                    border-right: 0 none;
                }
            }

            &.navbar-right li {
                text-align: right;
                padding-right: 0;
                color: $color-blue-light;

                > *:first-child {
                    padding-right: 10px;
                }

                &.dorp-down {
                    ul {
                        display: none;
                        background-color: $color-blue-main;
                        border-radius: 0 0 0 8px;
                        padding-top: 5px;
                        border-top: 2px solid $color-grey-border;

                        li {
                            border-right: 0 none;
                            padding-right: 20px;
                            line-height: 2;
                        }
                    }

                    &.open ul {
                        display: block
                    }
                }

                &:hover {
                    color: $color-pure-white;
                    cursor: pointer;
                }
            }
        }
    }
}